@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .input {
    border: 2px solid #eaebeb;
    color: #2e3031;
    border-radius: 0.375rem;
    height: 40px;
    background-color: white;
    outline: none;
    padding: 0.25rem 0.75rem;
  }
  .input-error {
    border: 1px solid #ff0000;
  }
  .error-message {
    color: #ff0000;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: left;
    margin-top: 0.25rem;
  }
  .label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #2e3031;
    text-align: left;
    margin-bottom: 1rem;
  }
  .button {
    background-color: #f20000;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  .button:hover {
    background-color: #e60a2b;
  }
  .button-disabled {
    background-color: #eaebeb;
    color: #a0a0a0;
    cursor: not-allowed;
  }
  .button-disabled:hover {
    background-color: #eaebeb;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2e3031;
  background-color: #f7f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
